<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
				<a href="/docs/providers/index.html">&laquo; Documentation Home</a>
                </li>

				<li<%= sidebar_current("docs-brooklyn-index") %>>
				<a href="/docs/providers/brooklyn/index.html">Apache Brooklyn Provider</a>
                </li>

				<li<%= sidebar_current(/^docs-brooklyn-resource/) %>>
				<a href="#">Resources</a>
                <ul class="nav nav-visible">
                    <li<%= sidebar_current("docs-brooklyn-resource-application") %>>
					<a href="/docs/providers/brooklyn/r/application.html">application</a>
					</li>
				</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
	<% end %>
